html {
    scroll-behavior: smooth;
  }

.font-times {
    font-family: 'Times New Roman', Times, serif;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 200px;

}

.landing-btn a {
    color: #0b64a0;
}

.landing-btn a:hover {
    color: #000;
}

.tp-bgimg.defaultimg {
    position: relative;
}

.tp-bgimg.defaultimg::after {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 650px) {
    .home-btns {
        display:flex;
        justify-content:space-between;
        width: 100%;
    }
    .home-btn2 {
        transform: translateX(100px) !important;
    }
}

.red-not-yellow {
    background: #cd1732;
    border-color: #fff;
}

